﻿<%--<%@ Page Language="C#" AutoEventWireup="True" CodeBehind="WebForm1.aspx.cs" Inherits="LuisBot.WebForm1" %>--%>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<%--<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>--%>

<%@ Page Language="C#" %>

<link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />


<script runat="server">

    protected void btnUpload_Click(object sender, EventArgs e)
    {
        if (FileUpload1.HasFile)
        {
            string fileName = FileUpload1.FileName;

            FileUpload1.SaveAs("~/Images/" + fileName);
        }
    }
    void SubmitButton_Click(Object sender, EventArgs e)
    {
        if (File1.PostedFile != null)
        {
            ScriptManager.RegisterStartupScript(this, GetType(), "Show Modal Popup", "showmodalpopup();", true);
            try
            {
                var filepath = File1.PostedFile.FileName.ToString();
                var pieces = filepath.Split('\\');
                var filename = pieces[pieces.Length - 1];

                File1.PostedFile.SaveAs("D:\\Siva\\" + filename);
                Span1.InnerHtml = filename + "  Upload Successful!";
            }
            catch (Exception ex)
            {
                Span1.InnerHtml = "Error saving file <b>C:\\" +
                   File1.Value + "</b><br>" + ex.ToString();
            }
        }
    }
    protected void btnShowModal_Click(object sender, EventArgs e)

    {

        ScriptManager.RegisterStartupScript(this, typeof(Page), "Show Modal Popup", "showmodalpopup();", true);
        //ScriptManager.RegisterStartupScript(this, GetType(), "Show Modal Popup", "showmodalpopup();", true);
        return;
    }
</script >
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>

<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript">

    //function showmodalpopup() {

    //    $("#popupdiv1").dialog({

    //        title: "RVS ChatBot File Uploader",

    //        width: 630,

    //        height: 350,

    //        modal: true,

    //        buttons: {

    //            Close: function () {

    //                $(this).dialog('close');

    //            }

    //        }

    //    });

    //};
    $(function () {
        $("[id*=btnModalPopup]").live("click", function () {
            $("#modal_dialog").dialog({
                title: "Upload Sheet",
                buttons: {
                    Close: function () {
                        $(this).dialog('close');
                    },
                },
                //open: function (type, data) { $(this).parent().appendTo("form"); },
                modal: true
            });
            return false;
        });
    })

    //<script type="text/javascript">
    $("button").addClass("btn-default");
    <%--</script>--%>
</script>




<head runat="server">
    <title></title>
    <style>
        div {
            background-color: #efefef;
            color: #000;
            padding: 20px;
            font: 100%;
            font-family: 'Segoe UI', 'Open Sans', sans-serif, Arial;
            border: dashed;
        }
            /*CSS for All Input Buttons*/
            div input[type=button] {
                font-family: 'Segoe UI', 'Open Sans', sans-serif, Arial;
                background-color: #006969; /* Green */
                border: none;
                color: #fff;
                padding: 8px 16px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                cursor: pointer;
            }

                div input[type=button]:hover {
                    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 10px 10px 0 rgba(0,0,0,0.19);
                }

        #rcorners2 {
            border-radius: 15px 50px 30px;
            background: lightblue;
            padding: 20px;
            width: 500px;
            height: 350px;
        }

        input[type=button], input[type=submit], input[type=reset] {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }

        div#BotChatElement .wc-card button {
            background-color: transparent;
            color: red;
            min-height: 32px;
            width: 100%;
            padding: 0 16px;
        }

            div#BotChatElement .wc-card button:hover {
                background-color: transparent;
                border-color: red;
                color: #0078d7;
            }

            div#BotChatElement .wc-card button:active {
                background-color: mediumvioletred;
                border-color: #0078d7;
                color: #ffffff;
            }

        form {
            background-image: url("D:\Siva\POCs\rvsimage1.png");
            background-color: #cccccc;
        }
    </style>
</head>
<body>

    <%--<input type="button" value="Button 1"/>
		<input type="button" value="Button 2"/>
		<input type="button" value="Button 3"/>--%>
    <form runat="server" enctype="multipart/form-data">

        <input type="button" value="Button" />
        <input type="reset" value="Reset" />
        <input type="submit" value="Submit" />

        <asp:Button ID="Button1" runat="server" Text="Show Modal Popup" />
        <div>
            <input type="button" value="Button 1" />
            <input type="button" value="Button 2" />
            <input type="button" value="Button 3" />
        </div>

        <table>
            <td width="50%"></td>
            <td width="100%">
                <div>
                    <iframe name='iframe1' id="rcorners2"
                        src='https://webchat.botframework.com/embed/RVS-CHATBOT-BOT-1?s=BTbjn-Mmta0.cwA.SNA.AO6yPHm30RbvUH2simVpZftWlGYnrLXZLkjtocIoLDs'
                        width='450' height='600' frameborder="0" border="10" cellspacing="0"></iframe>
                </div>
            </td>
        </table>

        <%--<iframe name='iframe1' id="iframe1" src="empty.htm" 
        frameborder="0" border="0" cellspacing="0"
        style="border-style: none;width: 100%; height: 120px;"></iframe>--%>

        <div>

            <div id="popupdiv" title="File Uploader" style="display: none">
                Select a file to upload:<br />
                <input type="file" id="File1" runat="Server" />
                <p>
                    <input type="submit" id="Submit1" runat="Server"
                        value="Upload File" onserverclick="SubmitButton_Click" />
                    <p>
                        <span id="Span1" runat="Server" />
            </div>

            <div id="modal_dialog" style="display: none">
                <asp:FileUpload ID="FileUpload1" runat="server" />
                <asp:Button ID="btnUpload" runat="server" Text="Upload" CausesValidation="false" OnClick="btnUpload_Click" />
            </div>

            <asp:Button ID="btnModalPopup" runat="server" Text="Show Modal Popup" />

            <%--<asp:Button ID="btnShowModal" runat="server" Text="Show Popup" OnClick="btnShowModal_Click" />--%>
        </div>
    </form>
</body>
</html>

